<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uk1n4tpr</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar" id="home">
            <div class="nav-top">
                <h1 class="logo">Ukinatpr</h1>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="nav_ul" id="navbarNav">
                <li class="nav_li"><a href="#home">Home</a></li>
                <li class="nav_li"><a href="#about_me">About Me</a></li>
                <li class="nav_li"><a href="#certificates">Certificates</a></li>
                <li class="nav_li"><a href="#my_projects">My Projects</a></li>
                <li class="nav_li"><a href="#contact">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="profile">
            <img class="profile-pic" src="/img/portfolio-pic.JPG" alt="profile-pic">
            <div class="about-me" id="about_me">
                <div class="my-bio">
                    <h1 class="hello-world">Hello World 👋</h1>
                    <h3 class="this-is-me">
                        Hello my friends I am Uroš Klječanin my friends call me Uki. My current job title is medical nurse at an orthopedy hospital. I am from Bosnia and I grew up in a little town Teslić, but temporary living in Banja Luka. My goals are to become a exelent programer for now I work on webpages and applications but also interested in cyber security and A.I. I have been learning programing from sites like FreeCodeCamp, Svet programiranja also from YouTube and others.  
                    </h3>
                </div>
            </div>
        </div>
        <div class="skills">
            <h1 class="my_skills">These are my current skills</h1>
            <div class="current_skills">
                <div class="img_container"><img src="/img/html.png" alt="html" class="HTML skills_img"></div>
                <div class="img_container"><img src="/img/css-3.png" alt="css" class="CSS skills_img"></div>
                <div class="img_container"><img src="/img/bootstrap(1).png" alt="bootstrap" class="bootstrap skills_img"></div>
                <div class="img_container"><img src="/img/js.png" alt="javascript" class="javascript skills_img"></div>
                <div class="img_container"><img src="/img/programing.png" alt="express" class="express skills_img"></div>
                <div class="img_container"><img src="/img/python.png" alt="python" class="python skills_img"></div>
                <div class="img_container"><img src="/img/icons8-mongodb-a-cross-platform-document-oriented-database-program-96.png" alt="mongodb" class="mongodb skills_img"></div>
                <div class="img_container"><img src="/img/icons8-sql-80.png" alt="sql" class="sql skills_img"></div>
            </div>
        </div>
        <h1 class="my_certificates" id="certificates">My Certificates</h1>
        <div class="certificates">
            <div class="cer">
                <img src="/img/responsive-web.png" class="img-cert" alt="responsive web-design cert.">
            </div>
            <div class="cer">
                <img src="/img/javascript-alg.png" class="img-cert" alt="javascript algorithm cert.">
            </div>
            <div class="cer">
                <img src="/img/frontend-libr.png" class="img-cert" alt="front-end libraryes cert.">
            </div>
            <div class="cer">
                <img src="" alt="">
            </div>
        </div>
        <div class="my_projects" id="my_projects">
            <h1 class="projects_h1">THESE ARE SOME OF MY PROJECTS</h1>
            <div class="projects_images">
                <a href=""><img src="/img/project aft.png" alt="" class="aft_project_img"></a>
            </div>
        </div>
        <div class="ask-me" id="contact">
            <h1 class="questions">Questions</h1>
            <form action="/auth/homepage" method="post" class="form-control question_form">
                <div class="firstName form-div">
                    <label for="firstName">First Name</label>
                    <input type="text" class="input-firstName form-control input_form" name="firstName" placeholder="firstName">
                </div>
                <div class="lastName form-div">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="input-lastName form-control input_form" name="lastName" placeholder="lastName">
                </div>
                <div class="mobile form-div">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="input-mobile form-control input_form" name="mobile" placeholder="mobile">
                </div>
                <div class="email form-div">
                    <label for="email">email</label>
                    <input type="text" class="input-email form-control input_form" name="email" placeholder="email">
                </div>
                <div class="adress form-div">
                    <label for="adress">adress</label>
                    <input type="text" class="adress form-control input_form" name="adress" placeholder="adress">
                </div>
                <div class="question form-div">
                    <label for="question">question</label>
                    <input type="text" class="input-question form-control mb-3 input_form" name="question" placeholder="question">
                </div>
                <button type="submit" class="button btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="socials">
            <a href="https://github.com/Uk1n4tpr"><img src="/img/icons8-github-50.png" class="icon-socials" alt="github"></a>
            <a href="ukinatpr124@gmail.com"><img src="/img/icons8-gmail-50.png" class="icon-socials" alt="gmail"></a>
            <a href="https://www.linkedin.com/in/uros-kljecanin-248a06280/"><img src="/img/linkedin.png" class="icon-socials" alt="linkedin"></a>
            <a href="https://web.telegram.org/a/"><img src="/img/telegram.png" class="icon-socials" alt="telegram"></a>
            <a href="https://www.instagram.com/urkee99/"><img src="/img/icons8-instagram-50.png" class="icon-socials" alt="intagram"></a>
            <a href="https://www.facebook.com/uros.kljecanin.90"><img src="/img/facebook.png" class="icon-socials" alt="facebook"></a>
        </div>
        <div class="number-gmail">
            <h1 class="gmail-socials">ukinatpr124@gmail.com</h1>
            <h1 class="number-socials">+38765294798</h1>
            <h1 class="copyright">&copy; ukinatpr124.com</h1>
        </div>
    </footer>
    <script src="/js/hamburger.js"></script>
</body>
</html>